.usersTable {
    width: 100%;
}
input {
    margin-top: 6px;
    position: relative;
}
.daysLeftField {
    width: 50px !important;
}
.mat-form-field-infix .mat-input-element {
    position: absolute !important;
    top: 6px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    margin-top: 14px !important;
    margin-right: 7px !important;
}