* {
    font-family: 'Montserrat', sans-serif;
}
.container {
    margin-top: 40px;
    margin-left: 65px;
}
dialog-overview-example-dialog h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
}
.btnMargin {
    margin-left: 15px;
}
.mat-form-field-flex {
    width: 50px !important;
}
input.mat-input-element {
    border-bottom: none!important;
    box-shadow: none!important;
}
