/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.requestBtn {
    margin-top: 36px !important;
    margin-left: 25px !important; 
}

.formVacation {
    margin-top: 95px;
}
.formVacation mat-label {
    font-weight: 600;
    font-size: 1rem;
}
.startLabel {
    position: absolute;
    margin-left: 36px;
    margin-top: -28px;
}
.endLabel {
    position: absolute;
    margin-left: 340px;
    margin-top: -28px;
}
.endDatePicker {
    position: absolute !important;
    margin-left: 294px;
}
.formError {
    position: absolute;
    margin-top: 5px;
}
.vacations {
    position: relative;
    margin-top: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

app-users > div > table > tbody > tr > td> form > mat-form-field > div > .mat-form-field-flex > .mat-form-field-infix > .mat-input-element {
    position: absolute !important;
    top: -5px !important;
    left: 1px;
}
app-users > div > table > tbody > tr > td> form > mat-form-field > div > div.mat-form-field-flex {
    margin-top: 14px !important;
    margin-right: 7px !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    height: 35px;
}