
<div *ngIf="!user">
  <mat-progress-spinner
         class="example-margin"
        [color]="color"
        [mode]="mode">
    </mat-progress-spinner>
</div>
<div class="main" *ngIf="user">
  <div class="row">
    <div class="col-md-6">
      <h3>Your left vacation days are: {{user.daysLeft}}</h3>
      <hr>
      <h4>Request a new vacation</h4>
    </div>
  </div>
  <div class="alert alert-danger formError" *ngIf="errorMsg">{{errorMsg}}</div>
  <form [formGroup]="vacationForm" (ngSubmit)="onSubmit(vacationForm.value)">
    <div class="row formVacation">  
      <mat-label class="startLabel">Start Date</mat-label>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker"  formControlName="startDate" [min]="minDate" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-label class="endLabel">End Date</mat-label>
      <mat-form-field class="example-full-width endDatePicker">
          <input matInput [matDatepicker]="picker2" formControlName="endDate" [min]="minDate1" placeholder="Choose an end date">
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <form [formGroup]="vacationCommentForm">
      <mat-form-field class="example-full-width">
          <textarea matInput [value]="''" formControlName="reason" placeholder="Vacation comment"></textarea>
      </mat-form-field>
    </form>
    <div class="row" *ngIf="vacationForm">
      <!-- str {{vacationForm.value.startDate}}, 
      startDate -> {{vacationForm.value.startDate === ''}}, endDate {{vacationForm.value.endDate === ''}},
      length -> {{vacationForm.value.reason.length <= 3 }} , days -> {{ user.daysLeft <= 0 }} -->
      <button mat-raised-button class="requestBtn" color="primary" matBadge="{{user.daysLeft}}" 
      matBadgePosition="after" matBadgeColor="accent" 
      [disabled]="vacationForm.value.startDate === '' || vacationForm.value.endDate === '' || 
      (vacationCommentForm.value.reason.length < 3) || user.daysLeft <= 0">
        Request Vacation
      </button>
    </div>
  </form>

  <a mat-flat-button class="vacationBtn" routerLink="/vacations/">See My Vacations</a>
  <!-- <a mat-flat-button class="vacationBtn vacBtnleft" routerLink="vacations/upcoming/">Upcoming Vacations</a> -->

  <!-- <app-vacations [refreshVacations]="refreshTrigger"></app-vacations> -->
 
</div>
